
/Application Data/
/Local Settings/
/My Documents/
/NetHood/
/PrintHood/
/Recent/
/SendTo/
/Start Menu/
/Templates/
/Cookies/
/AppData/
/Contacts/
/Desktop/
/Documents/
/Downloads/
/Favorites/
/Music/
/Videos/
/OneDrive/
ntuser.ini
*.dat
*.log
*.tmp

.conda/
.condarc
.config/
.ipynb_checkpoints/
.ipython/
.jupyter/
.matplotlib/
__pycache__/
*.pyc
*.temp

.anaconda/
anaconda_projects/
.virtual_documents/